@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: linear-gradient(to bottom, #1f1f1f, #121212);
    color: #ffffff;
    text-align: center;
    user-select: none;
}

@keyframes glowIn {
    0% {
        text-shadow: 0 0 0 rgba(255, 255, 255, 0);
    }
    100% {
        text-shadow: 0 0 15px rgba(255, 255, 255, 0.9);
    }
}

@keyframes glowOut {
    0% {
        text-shadow: 0 0 15px rgba(255, 255, 255, 0.9);
    }
    100% {
        text-shadow: 0 0 0 rgba(255, 255, 255, 0);
    }
}

h1 {
    margin: 0;
    padding: 0;
    transition: color 0.5s ease, transform 0.5s ease;
    animation: glowOut 0.5s forwards;
}

h1:hover {
    animation: glowIn 1s forwards;
}

.nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    padding: 20px;
    background: transparent;
    justify-content: space-between;
}

.nav-bar .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
    transition: transform 0.3s ease, text-shadow 0.5s ease;
}

.nav-bar .nav-links {
    display: flex;
    gap: 20px;
}

.nav-bar .nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    transition: text-shadow 0.3s;
}

.nav-bar .nav-links a:hover {
    color: #ffffff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.background-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    overflow: hidden;
}

.background-animation::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.4;
}

.background-animation::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
    opacity: 0.5;
}

.container {
    width: 100%;
    max-width: 600px;
    animation: fadeIn 2s ease-in-out;
    padding: 60px 20px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .text-content {
    text-align: center; /* Center text for all screens */
    width: 100%;
    margin: 0; /* Reset margin for centering */
}

.container h1,
.container p {
    margin: 0;
    padding: 0;
    transition: color 0.3s ease, transform 0.3s ease;
}

.container h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.container p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.highlight {
    color: #8533ff;
    text-shadow: 0 0 10px #3700b3, 0 0 15px #3700b3;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container .link-button {
    background-color: transparent;
    color: #6200ee;
    border: 2px solid #6200ee;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
}

.container .link-button:hover {
    background-color: #6200ee;
    color: #ffffff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (min-width: 768px) {
    .nav-bar .logo {
        position: absolute;
        left: 320px;
    }

    .nav-bar .nav-links {
        margin-left: 1350px;
    }

    .container .text-content {
        text-align: left;
        margin-left: 490px;
    }
}

@media (max-width: 767px) {
    .nav-bar {
        justify-content: flex-start;
    }

    .nav-bar .nav-links {
        margin-left: 20px;
        gap: 10px;
    }

    .container .text-content {
        text-align: center;
        margin: 0;
    }
}
